body{
    background-color: whitesmoke;
    }
    .header-title {
      color: darkblue; 
  }
  
   .header-text{
      color: yellowgreen;
  }
h1 {
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
  }
  
  h2 {
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
  }
  
  h3 {
    font-size: 16px;
    color: teal;
    font-weight: bold;
  }
  p {
    color: #4d4d4d;
    font-weight: bold;
  } 
 
  
  a {
    color: #8A2BE2;
    text-decoration: none;
  }
  header {
    width: 100%;
    min-height: 50vh;
    background-image: url('img/OIP.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
  }


.header-bg {
    width: 50vw; 
}
article {
    border: 5px solid #3498db; 
    border-radius: 55px; 
    padding: 15px; 
    margin: 15px; 
    border-left: 10px solid #e74c3c; 
}